dask
dask[dataframe]
fast-ml==3.68
fastML==1.0
fastparquet==0.8.1
Jinja2==2.11.2
packaging==20.4
Pillow==8.1.0
py4j==0.10.9
pyarrow==9.0.0
pyspark==3.0.0
pytest==6.1.1
#scikit-learn==0.23.2
Scikit-learn==1.1
scipy==1.4.1
#sklearn==0.0
sortedcontainers==2.3.0
tensorboard==2.9.0
tensorflow==2.9.0
tensorflow-datasets==4.5.2
tqdm
Werkzeug==1.0.1
xgboost
fastparquet==0.8.1
pyarrow==9.0.0
numpy
setuptools
networkx
whoosh
pyyaml
docarray
docarray[hnswlib]
