absl-py==1.2.0
appnope==0.1.2
astor==0.8.1
astunparse==1.6.3
attrs==20.2.0
backcall==0.2.0
bokeh==2.2.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cramjam==2.6.2
dask==2021.1.0
decorator==5.1.0
dill==0.3.4
distributed==2021.1.0
fast-ml==3.68
fastML==1.0
fastparquet==0.8.1
flatbuffers==1.12
fsspec==0.8.5
future==0.18.2
gast==0.4.0
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.53.0
h5py==3.8.0
HeapDict==1.0.1
idna==2.10
importlib-metadata==2.0.0
importlib-resources==5.2.2
iniconfig==1.0.1
jedi==0.18.0
Jinja2==2.11.2
joblib==0.17.0
keras==2.9.0
locket==0.2.1
Markdown==3.3
MarkupSafe==1.1.1
matplotlib-inline==0.1.3
more-itertools==8.4.0
msgpack==1.0.2
networkx==2.6.3
numpy==1.21.6
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
parso==0.8.2
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.13.0
psutil==5.8.0
ptyprocess==0.7.0
py==1.9.0
py4j==0.10.9
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.10.0
pyparsing==2.4.7
pyspark==3.0.0
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.4.1
setuptools-scm==4.1.2
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
tblib==1.7.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-datasets==4.5.2
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.7.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.11.1
tornado==6.1
tqdm==4.50.2
traitlets==5.9.0
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
xgboost==1.2.1
zict==2.0.0
zipp==3.3.0
fastparquet==0.8.1
pyarrow==9.0.0
numpy~=1.21.6
setuptools~=41.2.0
networkx~=2.6.3
