dask
dask[dataframe]
fast-ml==3.68
fastML==1.0
fastparquet
Jinja2==2.11.2
packaging
Pillow
py4j
pyarrow
pyspark
pytest
scikit-learn
tensorboard==2.9.0; sys_platform != 'darwin'
tensorflow==2.9.0; sys_platform != 'darwin'
tensorboard; sys_platform == 'darwin'
tensorflow; sys_platform == 'darwin'
tensorflow-metal; sys_platform == 'darwin'
tensorflow-datasets==4.5.2 
tqdm
Werkzeug
xgboost
fastparquet
numpy
setuptools
networkx
whoosh
pyyaml
docarray
docarray[hnswlib]
docarray[weaviate]
evaluate
